$background-color: #fffcf5;;

body {
  margin: 0;
  background: url('/assets/back.jpg');
  background-size: auto;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2em;
}

#name {
  font-size: 0.5em;
  letter-spacing: 0.7em;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#news {
  padding: 20px 110px;
  p {
    padding: 0;
    text-align: center;
  }
}

header {
  h1 {
    line-height: 40px;
    text-align: center;
    margin:0;
    padding: 10px 0 20px;
    color: black;
  }
  a:hover, a:visited, a:link, a:active {
      text-decoration: none;
  }
  margin-bottom: -20px;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

#content {
  width: 1000px;
  margin: 60px auto;
  font-size: .95em;
  line-height: 1.2em;
}

nav {
  display: flex;
  min-height: 120px; /* Safari Fix... */
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  #logo {
    width: 120px;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    a {
      flex: auto;
      margin: 5px 25px;
      padding: 2px;
      text-decoration: none;
      color: black;
      letter-spacing: 0.1em;
      font-size: 0.8em;
	  li.active {
		font-weight: bold;
	  }
    }
  }
}

p {
  padding: 45px 110px;
}

header, nav {
  width: 100%;
  background: $background-color;
}

nav {
  border-bottom: 1px solid #000;
}

.infobox {
  h2 {
    text-align: center;
    margin-top: 40px;
	line-height: 1.1em;
  }
  background: $background-color;
  border: 1px solid #000;
}

#me {
	margin-top: 2em;
}

#about {
  display: flex;
  > * {
    flex: 1;
  }
  #about-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#home-tiles {
  gap: 20px;
  display: flex;
  > div {
    flex: 1;
	p {
		padding: 10px 50px;
	}
  }
}

button, input {
  display: inline-block;
  height: 40px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
input {
  width: 99.6%;
  text-indent: 14px;
  &::placeholder {
    color: #848484;
  }
}
button {
  margin: 5px 0;
  background: #74503b;
  color: #fff;
  &:hover, &:focus {
    cursor: pointer;
  } 
  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }
}


footer {
  margin-top:auto;
  min-height: 20px;
  background: $background-color;
  padding: 15px;
  border-top: 1px solid #000;
  font-size: .7em;
  letter-spacing: .2em;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1280px) {
  #content {
    width: 75%;
  }
  p {
    padding: 45px;
  }
  #news {
    padding: 5px 20px;
    margin: 0px 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  header h1 {
    padding: 20px 0;
  }
  #content {
    width: 100%;
    margin: 50px auto;
  }
  #book, #home-tiles, #modal > div, #about, .booked-class-options {
    flex-direction: column;
  }
  footer {
    font-size: .5em;
  }
  p {
    padding: 10px;
  }
  #home-tiles p {
    padding: 0;
  }
  #modal > div {
    padding: 15px;
  }
  #book > *, #home-tiles > :first-child, .end-of-flow-success, #postpone-mode, #my-account-summary, .booked-class, #news {
    margin-bottom: 30px;
  }
}
