$background-color: #fffcf5;;

body {
  margin: 0;
  background: url('/assets/back.jpg');
  background-size: auto;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2em;
}

.name {
  font-size: 0.5em;
  letter-spacing: 0.7em;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#news {
  padding: 20px 110px;
  p {
    padding: 0;
    text-align: center;
  }
}

header {
  h1 {
    line-height: 40px;
    text-align: center;
    margin:0;
    padding: 10px 0 20px;
    color: black;
  }
  a:hover, a:visited, a:link, a:active {
      text-decoration: none;
  }
  margin-bottom: -10px;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

#content {
  width: 1000px;
  margin: 60px auto;
  line-height: 1.2em;
  p, li {
	  font-size: 1.05em;
	}
	
	p.list-linked {
		padding-bottom: 5px;
		margin-bottom: 0px;
	}
	p.italic {
		font-style: italic;
	}

	ul.list-linked {
		padding-top: 0px;
		margin-top: 0px;
	}
	ul {
		  list-style-type: circle;
		  line-height: 1.4em;

	}
	ul.hard {
		  list-style-type: revert;
	}
	b.underline {
	text-decoration: underline;
	font-weight: normal;
	}

}

#qualiopi {
    margin: -20px auto 20px;
    display: block;
	    width: 160px;
}

nav {
  display: flex;
  min-height: 120px; /* Safari Fix... */
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  #logo {
    width: 140px;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    a {
      flex: auto;
      margin: 5px 25px;
      padding: 2px;
      text-decoration: none;
      color: black;
      letter-spacing: 0.1em;
      font-size: .9em;
	  li.active {
		font-weight: bold;
	  }
    }
  }
}

p {
  padding: 45px 110px;
  text-align: justify;
}

header, nav {
  width: 100%;
  background: $background-color;
}

nav {
  border-bottom: 1px solid #000;
}

.infobox {
  h2 {
    text-align: center;
    margin-top: 40px;
	line-height: 1.1em;
  }
  background: $background-color;
  border: 1px solid #000;
}

.kw {
	font-weight: bold;
}

#me {
	margin-top: 2em;
		img {
    float: right;
    width: 235px;
    margin: 50px;
}
}

#about {
  display: flex;
  > * {
    flex: 1;
  }
  #about-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#home-tiles {
  gap: 20px;
  display: flex;
  > div {
    flex: 1;
	p {
		padding: 10px 50px;
	}
	&:hover {
		cursor: pointer;
		box-shadow: 4px 4px white;
		h2 span {
			text-decoration: underline;
		}
	}
  }
}

.school-modules {
	margin-top: 1.5em;
	padding: 2px 0px;
	h2 {
		margin-top: inherit;
		padding: 5px 150px;
	}
	p, ul {
		padding: 5px 80px;
	}
}

#content .school-modules:nth-child(1) {
	border: 11px solid #a07947;
}

button, input {
  display: inline-block;
  height: 40px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
input {
  width: 99.6%;
  text-indent: 14px;
  &::placeholder {
    color: #848484;
  }
}
button {
  margin: 5px 0;
  background: #74503b;
  color: #fff;
  &:hover, &:focus {
    cursor: pointer;
  } 
  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }
}


footer {
  margin-top:auto;
  min-height: 230px;
  background: $background-color;
  padding: 15px;
  border-top: 1px solid #000;
  letter-spacing: .2em;
  h2 {
		text-align: center;
  }
  .name {
    display: block;
    text-align: center;
    font-size: .9em;
    margin: -25px auto 45px;
}
  & > div {
	  display: flex;
	  justify-content: space-around;
	  font-size: 1em;
	  span {
		  font-weight: bold;
	  }
	  & > div > * {
		      vertical-align: middle;
	  }
  }
}


@media screen and (max-width: 1280px) {
  #content {
    width: 75%;
  }
  p {
    padding: 45px;
  }
  #news {
    padding: 5px 20px;
    margin: 0px 0 30px;
  }
}

@media screen and (max-width: 1023px) {
  header h1 {
    padding: 20px 0;
	margin-bottom: 1em;
  }
  #content {
    width: 100%;
    margin: 50px auto;
  }
  #book, #home-tiles, #modal > div, #about, .booked-class-options, footer > div {
    flex-direction: column;
  }
  p {
    padding: 10px;
  }
  #home-tiles p {
    padding: 0;
  }
  #modal > div {
    padding: 15px;
  }
  #book > *, #home-tiles > :first-child, .end-of-flow-success, #postpone-mode, #my-account-summary, .booked-class, #news {
    margin-bottom: 30px;
  }
  
  .name {
    font-size: .4em;
	}
   nav #logo {
	     padding: 15px;
	}
	
	footer {
		.name {
			font-size: .8em;
		}
		& > div > div {
			margin-bottom: 2em;
		}
		min-height:280px;
	}
}

@media screen and (max-width: 600px) {
 nav #logo {
	     padding: 15px;
         width: 110px;

	}
}