<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0">
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/assets/logo.png">
    <title>{{ page.title }}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/cqf7yal.css">
  </head>
  <body>
  <div id="page">
    <a>
    <header>
      <a href="/"><h1><span class="name">MARIE SAINT-GEORGES</span><br/>Communication - Connaissance de soi - Intelligence émotionnelle</h1></a>
    </header>
    <nav>
      <a href="/"><img id="logo" src="{{ '/assets/logo.png' | relative_url }}"/></a>
      <ul>
        <a href="/"><li {% if page.url == "/" %}class="active"{% endif %}>ACCUEIL</li></a>
        <a href="/formations-sur-mesure"><li {% if page.url contains "/formations-sur-mesure" %}class="active"{% endif %}>FORMATIONS SUR-MESURE</li></a>
		<a href="/interventions-en-milieu-scolaire"><li {% if page.url contains "/interventions-en-milieu-scolaire" %}class="active"{% endif %}>INTERVENTIONS EN MILIEU SCOLAIRE</li></a>
        <a href="/seances-individuelles"><li {% if page.url contains "/seances-individuelles" %}class="active"{% endif %}>SEANCES INDIVIDUELLES</li></a>
      </ul>
    </nav>
    <div id="content">
      {{ content}}
    </div>
    <footer>
	  <h2>Contact</h2>
	  <span class="name">MARIE SAINT-GEORGES</span>
	  <div>
		  <div><i data-feather="mail"></i> <span>Mail :</span> saintgeorges.marie@gmail.com</div>
		  <div><i data-feather="phone"></i> <span>Téléphone :</span> 06 79 83 16 15</div>
	  </div>
    </footer>
  </div>
  <script src="https://unpkg.com/feather-icons"></script>
	 <script>
	 document.addEventListener("DOMContentLoaded", function() {
		feather.replace()
	  })
	</script>
  </body>
</html>
